* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

:root {
    --menu-active: #0282f9;
    --menu-text: #6b6d72;
    --color-footer: #303030;
    --footer-menu-text: #71766c;

}

.container {
    width: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

[class^="col-"] {
    padding: 1rem;

}

.col-12 {
    width: 50%;

}


/* Media Query */

@media screen and (min-width:568px) {
    .container {
        width: 80%;
        max-width: 520px;
        margin: auto;
    }

    .row {
        margin: 0 -1rem;
    }

    .col-sm-6 {
        width: calc(100% /12 *6);

    }

    .desktop-only {
        visibility: hidden;
    }
}

@media screen and (min-width:768px) {
    .container {

        max-width: 720px;

    }

    .col-md-4 {
        width: calc(100% /12 *4);

    }

    .desktop-only {
        visibility: hidden;
    }

}

@media screen and (min-width:1024px) {
    .container {

        max-width: 920px;
    }

    .col-lg-2 {
        width: calc(100% /12 * 2);

    }

    .col-lg-1 {
        width: calc(100% /12 * 1 + 5px);
        padding: 0px;

    }

    .desktop-only {
        visibility: visible;
    }
}